
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Yorkies Vehicle Hire</h1>
    <br />
    <p class="lead">Welcome to Yorkies, where you can hire a vehicle ranging from cars and vans to articulated lorries</p>

    @if (Request.IsAuthenticated && User.IsInRole("Member"))
    {
        <p class="lead">Welcome to Yorkies, where you can hire a vehicle ranging from cars and vans to articulated lorries</p>
    }

    @if (Request.IsAuthenticated && User.IsInRole("Manager"))
    {
        <p class="lead">Welcome @User.Identity.Name</p>
    }

    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {
        <p class="lead">Welcome @User.Identity.Name</p>
    }

    @if (Request.IsAuthenticated && User.IsInRole("InvoiceClerk"))
    {
        <p class="lead">Welcome @User.Identity.Name</p>
    }

    @if (Request.IsAuthenticated && User.IsInRole("BookingClerk"))
    {
        <p class="lead">Welcome @User.Identity.Name</p>
    }

</div>


